@import url("https://fonts.googleapis.com/css?family=Merriweather|Fira+Sans&display=swap");

html {
  background-color: #0596b3;
}

.App {
  margin: 0 auto;
  color: black;
  display: block;
  width: 100vw;
  justify-content: center;
  text-align: center;
}

/* removes the error overlay */
iframe {
  display: none;
}
